<div class="center-wrapper">
	<div class="player-wrapper">
		<div class="header">
			<div class="header-agelimit"></div>
			<div class="player-name"></div>
		</div>
		<div class="player-display">
			<div class="player-display-screen">
				<div class="player-screen-header">
					<p>Видео HD</p>

					<div class="share"></div>
					<div class="clock"></div>

				</div>
				
				<div class="center-player-display">
					<div id="watchBtn" class="button">	
					</div>
					<p class="viewers">Просмотров: 14204</p>
					<button class="cancel">Отмена</button>
				</div>
			</div>
			
			<div class="player-display-control-panel">
				<div class="progress-indicator"></div>
				<div class="controls">
					<div class="controls-play"></div>
					<div class="controls-mute"></div>
					<div class="time-wrap">
						<p>0:00 <span>/ 15:44</span></p>
					</div>
					<div class="controls-fullscreen"></div>
				</div>
			</div>

		</div>

		<div class="footer">
			<div class="agreement">
				<input type="checkbox" id="check" hidden> 
				<label for="check"><p>Подтверждаю, что люблю мультики и соглашаюсь с <a href="" class="rules">правилами предоставления услуги</a></p></label>


			</div>
			<p class="price">Услуга: domainname.eu. Провайдер ООО “Эс Эм Экс 
Комьюникейшнс”. Стоимость: 20 руб в сутки с НДС. </p>
		</div>

	</div>
</div>