

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  color: white;
  margin: 0;
  padding: 0;
}

.center-wrapper {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.center-wrapper .player-wrapper {
  max-width: 640px;
  min-width: 320px;
  height: 100vh;
  margin: auto;
  background: #2f2f2f;
}

.header {
  height: 6vh;
  background: -webkit-linear-gradient(bottom, #2f2f2f 50%, #363636 50%);
  background: linear-gradient(to top, #2f2f2f 50%, #363636 50%);
  text-align: center;
  padding-top: 1%;
}

.header-agelimit {
  height: 5vh;
  width: 65px;
  background: url("../img/agelimit.png") center no-repeat;
  background-size: contain;
  display: inline-block;
  float: left;
  margin-left: 2%;
}

.player-name {
  height: 5vh;
  width: 40vw;
  background: url("../img/videoTube.png") center no-repeat;
  background-size: contain;
  display: inline-block;
  margin-right: 10%;
}

@media screen and (min-width: 1245px) and (max-width: 2000px) {
  .player-name {
    width: 30vh;
  }
}

.player-display-screen {
  max-height: 67vh;
  border: 2px solid black;
  background: url("../img/spanch.png") center no-repeat;
  background-size: cover;
}

.player-display-screen .player-screen-header {
  height: 6vh;
  padding-top: 1%;
  background: -webkit-linear-gradient(top, #000000 0%, #000000 34%, rgba(0, 0, 0, 0.52) 99%, rgba(0, 0, 0, 0.52) 100%);
  background: linear-gradient(to bottom, #000000 0%, #000000 34%, rgba(0, 0, 0, 0.52) 99%, rgba(0, 0, 0, 0.52) 100%);
}

.player-display-screen .player-screen-header p {
  font-size: 2.7vh;
  margin: 0;
  padding: 0;
  line-height: 4vh;
  display: inline-block;
  margin-left: 6%;
}

.player-display-screen .player-screen-header .clock,
.player-display-screen .player-screen-header .share {
  height: 4vh;
  width: 10%;
  display: inline-block;
  cursor: pointer;
  float: right;
}

.player-display-screen .player-screen-header .clock {
  background: url("../img/clock.png") center no-repeat;
  background-size: contain;
  margin-right: 0%;
}

.player-display-screen .player-screen-header .share {
  background: url("../img/share.png") center no-repeat;
  background-size: contain;
  margin-right: 6%;
}

.center-player-display {
  margin: 22vh auto;
  text-align: center;
}

.button {
  height: 15vh;
  max-width: 445px;
  margin: auto;
  background: url("../img/play-blackwhite.png") center no-repeat;
  background-size: contain;
}

.cancel {
  width: 140px;
  height: 6vh;
  background: #12151c;
  opacity: 0.5;
  border-radius: 10px;
  font-size: 3vh;
  color: white;
  outline: none;
}

.viewers {
  font-size: 2vh;
  color: #bababa;
  margin-bottom: 3vh;
}

.player-display-control-panel {
  height: 10vh;
  background: black;
  padding-top: 10px;
}

.player-display-control-panel .progress-indicator {
  height: 1vh;
  width: 98%;
  background: #626262;
  margin: auto;
  border-radius: 5px;
  cursor: pointer;
}

.player-display-control-panel .progress-indicator:before {
  content: "";
  display: block;
  height: 1vh;
  width: 30%;
  background: #f20425;
  border-radius: 5px 0 0 5px;
}

.controls {
  padding: 1.5vh 5%;
}

.controls .controls-play,
.controls .controls-mute,
.controls .controls-fullscreen {
  width: 4vh;
  height: 4vh;
  background-size: contain;
  display: inline-block;
  cursor: pointer;
}

.controls .controls-play {
  margin-right: 8%;
  background: url("../img/controls-play.png") center no-repeat;
  background-size: contain;
}

.controls .controls-mute {
  margin-right: 10%;
  background: url("../img/controls-mute.png") center no-repeat;
  background-size: contain;
}

.controls .controls-fullscreen {
  float: right;
  background: url("../img/controls-fullscreen.png") center no-repeat;
  background-size: contain;
}

.controls .time-wrap {
  display: inline-block;
  vertical-align: 1vh;
}

.controls .time-wrap p {
  font-size: 3vh;
  color: white;
  margin: 0;
  padding: 0;
}

.controls .time-wrap p span {
  color: #bababa;
}

.footer {
  background: #2f2f2f;
}

.agreement {
  margin-left: 4vw;
  margin-bottom: 1vh;
}

label[for="check"] p {
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: #a4a4a4;
  font-size: 2vh;
  line-height: 2.6vh;
  max-width: 500px;
  display: inline-block;
  padding-top: 1vh;
}

@media screen and (min-width: 320px) and (max-width: 414px) {
  label[for="check"] p {
    max-width: 250px;
  }
}

label[for="check"] p a {
  color: white;
}

label:before {
  content: " ";
  display: inline-block;
  width: 3vh;
  height: 3vh;
  background: white;
  border: 0.3vh solid black;
  margin-right: 1vh;
  margin-top: 2vh;
  vertical-align: top;
}

input[type=checkbox]:checked + label:before {
  background: url("../img/checkbox.png");
  background-size: contain;
}

.price {
  margin: 0;
  padding: 0;
  color: #a4a4a4;
  font-size: 2vh;
  line-height: 2.6vh;
  padding: 0vh 5vw;
}

@media screen and (min-width: 759px) and (max-width: 2000px) {
  .price {
    padding: 0vh 3vw;
  }
}
/*текст в хеадере*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  color: white;
  margin: 0;
  padding: 0;
}
/*текст в хеадере*/